* {
    margin: 0;
    padding: 0;
}

html {
    scrollbar-width: thin;
}

header {
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, rgba(46, 60, 185, 0.5), rgba(68, 68, 68, .5)), url(../images/img1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}